# APP
NODE_ENV=development
PORT=8080
API_VERSION=v1
CORS_ORIGIN=http://localhost:3000

# DATABASE (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

# FIREBASE (Auth)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# GEMINI AI
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=text-embedding-004

# GOOGLE CLOUD STORAGE
GCS_PROJECT_ID=
GCS_BUCKET_NAME=eventhub-uploads
GCS_KEY_FILE_PATH=./gcs-service-account.json

# UPSTASH REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# MIDTRANS
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# RESEND (Email)
RESEND_API_KEY=
EMAIL_FROM=noreply@eventhub.id